[push]
	default = simple
[user]
	email = filiped@gmail.com
	name = Filipe Deschamps
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
